

.scoretimer {
  display: flex;
  border: solid green 5px;
  align-items: center;
  justify-content: space-between;



  
  /* margin-left: 200px; */
}

h2 {
  padding: 20 px;

}

ol {
  padding: 30px;
}

li {
  padding: 10px;
}

p {
  padding: 10px;

}
 


.scores {
  width: 50%;
  
}

.timer {
  width: 50%;
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  
}

.screen {

  border: solid black 1px;
  width: 800px;
  padding: 20px;

   
}

.hide {
  display: none;
}
